<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FART Stack</title>
</head>
<body>
<img src="{{ url_for('static', filename='images/logo.jpg') }}" />
<h3>What is FART stack?</h3>
FART stack is a completely new and useless tech stack built on top of Flask, Apache, Redis, and TypeScript!
<h3>What is a tech stack or stack?</h3>
In the tech industry, a "tech stack" or "stack" is simply a list of software/technologies that were used in order to build something.<br />
A popular stack to operate a web server, for example, is called the LAMP stack. All this means is that the server was built/powered by<br />
Linux, Apache, MySQL, and PHP/Perl/Python.
<h3>Why would/should I use FART stack?</h3>
What a terrific question. The answer is you probably shouldn't. I'm simply a guy in my mid 30s and I still think farts are hilarious.
<h3>What advantages does FART stack provide over other mainstream tech stacks?</h3>
Absolutely none that I can think of.<br /><br />

Here's where the magic happens:

<div style="margin: 20px; padding: 20px; border: 1px solid black; width: 200px" id="root"></div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<h3>How does it work?</h3>
I'm glad you asked. Apache sits in front of an application built in Flask which pulls its data down from Redis while rendering a template powered by TypeScript.
<br />
<br />
<a href="https://github.com/mikeymiked/fart-stack">GitHub</a>
</body>
</html>
